// Lenis
html.lenis,
html.lenis body {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-scrolling iframe {
	pointer-events: none;
}

// Html
html,
body {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	color: var(--foreground-color);
	background: var(--background-color);
	font-size: var(--font-size);
}