// Variables - Font
:root {
	font-family: Inter, 'Noto Sans KR', sans-serif;
	font-feature-settings: 'liga' 1, 'calt' 1;
	font-size: var(--font-size);
	font-weight: var(--font-weight);
	font-display: fallback;
	word-break: keep-all;
	white-space: pre-wrap;
	-webkit-font-smoothing: antialiased;
	-webkit-font-display: fallback;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100;
	-ms-text-size-adjust: 100;
	-o-text-size-adjust: 100;
	-moz-osx-font-smoothing: grayscale;

	@supports (font-variation-settings: normal) {
		font-family: InterVariable, 'Noto Sans KR', sans-serif;
		font-feature-settings: 'liga' 1, 'calt' 1, 'case' 1, 'tnum' 1, 'ss01' 1, 'ss07' 1, 'ss08' 1;
	}
}

// Variables - Size
:root {
	--font-size: 20px;
	--font-weight: 500;
	--font-height: 1.625;
	--font-spacing: -.01em;

	--subtext-size: .875;
	--subtext-weight: 500;
	--subtext-height: 1.625;
	--subtext-spacing: -.01em;

	--subheadline-size: 2rem;
	--subheadline-weight: 500;
	--subheadline-height: 1.375;
	--subheadline-spacing: -.01em;

	--headline-size: 2.5rem;
	--headline-weight: 500;
	--headline-height: 1.25;
	--headline-spacing: -.01em;

	--display-size: 4rem;
	--display-weight: 500;
	--display-height: 1;
	--display-spacing: -.025em;

	--body: 100%;
	--footer: 6rem;
	--margin: 3rem;
	--margin-row: 8rem;

	--ease: cubic-bezier(0, .22, .16, 1);

	// Laptop
	@media screen and (max-width: 1440px) {
		--font-size: 18px;
	}

	// Tablet
	@media screen and (max-width: 1024px) {
		--font-size: 16px;

		--subheadline-size: 1.5rem;

		--headline-size: 2rem;

		--margin-row: 6rem;
	}

	// Mobile
	@media screen and (max-width: 768px) {
		--margin: 1.5rem;
	}
}

// Variables - Color
:root {
	--white-color: #FFFFFF;
	--black-rgb: 0, 0, 0;
	--black-color: #000000;
	--foreground-rgb: 0, 0, 0;
	--foreground-color: rgb(var(--foreground-rgb));
	--background-rgb: 248, 240, 232;
	--background-color: rgb(var(--background-rgb));
}

// Fonts Style
:root {

	h1,
	h2,
	h3 {
		text-transform: uppercase;
	}

	h1 {
		font-size: var(--display-size);
		font-weight: var(--display-weight);
		letter-spacing: var(--display-spacing);
		line-height: var(--display-height);
	}

	h2 {
		font-size: var(--headline-size);
		font-weight: var(--headline-weight);
		letter-spacing: var(--headline-spacing);
		line-height: var(--headline-height);
	}

	h3 {
		font-size: var(--subheadline-size);
		font-weight: var(--subheadline-weight);
		letter-spacing: var(--subheadline-spacing);
		line-height: var(--subheadline-height);
	}
}