// Cell
.cell {
	position: relative;
	display: flex;
	flex-direction: column;

	&.-content {
		gap: 2rem;
	}

	&.-index {
		flex-direction: row;
		gap: 1rem;
	}

	&.-center {
		align-items: center;
		justify-content: center;
	}

	&.-gap-s {
		gap: .5rem;
	}

	&.-gap-m {
		gap: 1rem;
	}
}