// LanguageSelector
.language {
    display: flex;
    flex-direction: column;
    height: calc(var(--font-sub-size) * var(--font-sub-height));
    overflow: hidden;

    button {
        color: var(--foreground-color);
        font-size: var(--font-sub-size);
        font-weight: var(--font-sub-weight);
        line-height: var(--font-sub-height);
        letter-spacing: var(--font-sub-spacing);
        text-transform: uppercase;
        text-wrap: nowrap;
        will-change: transform, opacity;
        transition: transform .6s var(--ease), opacity .6s var(--ease);

        &.-hidden {
            opacity: 0;
            pointer-events: none;
        }
    }
}