// LinkText
.linktext {
	display: flex;
	align-items: center;
	gap: .5rem 1rem;
	overflow: hidden;

	&.-dim {
		opacity: .5;
	}

	&.-end {
		justify-content: flex-end;

		.box {
			align-items: flex-end;
		}
	}

	&.-headline {
		column-gap: 2rem;

		.box {
			height: calc(var(--headline-size) * var(--headline-height));
		}

		.index {
			font-size: var(--font-size);
			font-weight: var(--font-weight);
			letter-spacing: var(--font-spacing);
			line-height: var(--font-height);
		}

		span {
			font-size: var(--headline-size);
			font-weight: var(--headline-weight);
			letter-spacing: var(--headline-spacing);
			line-height: var(--headline-height);
		}
	}

	&.-sub {
		.box {
			height: calc(var(--font-sub-size) * var(--font-sub-height));
		}

		span {
			font-size: var(--font-sub-size);
			font-weight: var(--font-sub-weight);
			letter-spacing: var(--font-sub-spacing);
			line-height: var(--font-sub-height);
		}
	}

	.box {
		display: flex;
		flex-direction: column;
		height: calc(var(--font-size) * var(--font-height));
		overflow: hidden;

		:first-of-type {
			opacity: 1;
		}

		:last-of-type {
			opacity: 0;
		}
	}

	a.box {
		&:hover {

			:first-of-type,
			:last-of-type {
				transform: translate3d(0, -100%, 0);
			}

			:first-of-type {
				opacity: 0;
			}

			:last-of-type {
				opacity: 1;
			}
		}
	}

	span {
		color: var(--foreground-color);
		font-size: var(--font-size);
		font-weight: var(--font-weight);
		letter-spacing: var(--font-spacing);
		line-height: var(--font-height);
		text-transform: uppercase;
		text-wrap: nowrap;
		will-change: transform, opacity;
		transform-origin: 50% 50% 0px;
		transition: transform .6s var(--ease), opacity .6s var(--ease);
	}

	@media screen and (max-width: 820px) {
		&.-headline {
			align-items: flex-start;
			flex-direction: column;
		}
	}
}

// Hover
.-hover {
	.linktext {
		.box {

			:first-of-type,
			:last-of-type {
				transform: translate3d(0, -100%, 0);
			}

			:first-of-type {
				opacity: 0;
			}

			:last-of-type {
				opacity: 1;
			}
		}
	}
}