// Nav
header,
footer {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 1rem var(--margin);
	background: var(--background-color);
}

// Header
header {
	position: sticky;
	z-index: 999;
	align-items: center;
	top: -1px;
	left: 0;
	padding-top: calc(1rem + 1px);

	a {
		font-size: var(--subtext-size);
		font-weight: var(--subtext-weight);
		letter-spacing: var(--subtext-spacing);
		line-height: var(--subtext-height);

		&:hover {
			text-decoration: underline;
		}
	}

	:nth-child(2) {
		text-align: center;
	}

	:nth-child(3) {
		text-align: end;
	}
}

// Footer
footer {
	align-items: flex-start;
	padding-top: unset;
	padding-bottom: var(--margin);
}