// Section
section {
	position: relative;
	z-index: 1;
	display: flex;
	width: 100%;
	padding: 4rem var(--margin);
	background: var(--background-color);
	overflow: hidden;

	&.-hero {
		align-items: center;
		justify-content: center;
		height: 100vh;

		.cell {
			align-items: center;

			span {
				font-size: 12vw;
			}
		}
	}

	&.-cover {
		display: block;
		padding: unset;
	}

	@media screen and (max-width: 1024px) {
		grid-template-columns: 100%;
	}
}

// Cell
.cell {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
}