// Section
section {
	position: relative;
	z-index: 1;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: flex-start;
	column-gap: 1rem;
	width: 100%;
	padding: 4rem var(--margin);
	background: var(--background-color);

	&.-hero {
		height: 100vh;

		.title {
			height: 100%;
		}
	}

	@media screen and (max-width: 820px) {
		grid-template-columns: 100%;

		&.-large {
			padding-top: 4rem;
			padding-bottom: 4rem;
		}
	}
}