// Section
section {
	position: relative;
	z-index: 1;
	width: 100%;
	padding: var(--margin-row) var(--margin);
	background: var(--background-color);
	overflow: hidden;

	&.hero {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh;

		.cell {
			position: absolute;
			top: 1rem;
		}

		span {
			position: absolute;
			font-size: 12vw;
			text-wrap: nowrap;

			&:nth-of-type(1) {
				left: 24%;
				transform: translate3d(0, -14rem, 0);
			}

			&:nth-of-type(2) {
				right: 24%;
				transform: translate3d(0, 14rem, 0);
			}

			@media screen and (max-width: 768px) {
				font-size: 6rem;

				&:nth-of-type(1) {
					left: 12%;
					transform: translate3d(0, -14rem, 0);
				}

				&:nth-of-type(2) {
					right: 12%;
					transform: translate3d(0, 14rem, 0);
				}
			}

			@media screen and (max-height: 720px) {
				&:nth-of-type(1) {
					transform: translate3d(0, -9rem, 0);
				}

				&:nth-of-type(2) {
					transform: translate3d(0, 9rem, 0);
				}
			}
		}
	}

	&.intro {
		display: grid;
		grid-template-columns: 3.5fr 4fr .5fr;
		gap: 2rem 1rem;

		@media screen and (max-width: 1440px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media screen and (max-width: 768px) {
			grid-template-columns: 100%;
		}
	}

	&.cover {
		padding: unset;
	}

	&.info {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 0 1rem;
	}

	&.contact {
		.cell.item {
			display: grid;
			grid-template-columns: 2fr 1fr 1fr;
			align-items: center;
			gap: .25rem 1rem;
			padding: 2rem 0;
			border-top: 1px solid var(--border-color);

			.cell.-index:last-child {
				justify-content: flex-end;
			}

			@media screen and (max-width: 1440px) {
				grid-template-columns: repeat(3, 1fr);

				.cell.-index:last-child {
					justify-content: flex-start;
				}
			}

			@media screen and (max-width: 768px) {
				grid-template-columns: 100%;

				h2 {
					margin-bottom: 1rem;
				}
			}
		}
	}
}

// Cell
.cell {
	position: relative;
	display: flex;
	flex-direction: column;

	&.-head {
		grid-column: 1 / -1;
		margin-bottom: 2rem;
	}

	&.-index {
		flex-direction: row;
		align-items: center;
		gap: 1rem;
	}

	&.-center {
		align-items: center;
		justify-content: center;
	}

	&.-gap-s {
		gap: .5rem;
	}

	&.-gap-m {
		gap: 1rem;
	}

	&.-gap-l {
		gap: 2rem;
	}

	&.-fill {
		grid-column: 1 / -1;
	}
}