// Text
.text {
	font-size: var(--font-size);
	font-weight: var(--font-weight);
	letter-spacing: var(--font-spacing);
	line-height: var(--font-height);

	&:has(span) {
		display: flex;
		gap: .5em;

		span {
			display: flex;
			align-items: center;
			height: 1.5em;

			&::after {
				background-color: var(--foreground-color);
				border-radius: 50%;
				content: '';
				display: block;
				height: .25em;
				width: .25em;
			}
		}
	}

	&.-headline {
		font-size: var(--subheadline-size);
		font-weight: var(--subheadline-weight);
		letter-spacing: var(--subheadline-spacing);
		line-height: var(--subheadline-height);
	}

	&.-subtext {
		font-size: var(--subtext-size);
		font-weight: var(--subtext-weight);
		letter-spacing: var(--subtext-spacing);
		line-height: var(--subtext-height);
	}

	&.-center {
		text-align: center;
	}

	&.-dim {
		opacity: .5;
	}
}

a.text {
	&:hover {
		text-decoration: underline;
	}
}