// Text
.text {
	font-size: var(--font-size);
	font-weight: var(--font-weight);
	letter-spacing: var(--font-spacing);
	line-height: var(--font-height);

	&:has(span) {
		display: flex;
		gap: .75em;

		span {
			display: flex;
			align-items: center;
			height: 1.5em;

			&::after {
				background-color: var(--foreground-color);
				border-radius: 50%;
				content: '';
				display: block;
				height: .25em;
				width: .25em;
			}
		}
	}

	&.-headline {
		font-size: 2rem;
		font-weight: 500;
		line-height: 1.5;
	}

	&.-sub {
		font-size: .875rem;
		font-weight: 500;
		line-height: 1.5;
	}
}