// title
.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	will-change: transform;

	div {
		display: flex;
		justify-content: center;
		overflow: hidden;

		span {
			font-size: 10vw;
			font-weight: var(--display-weight);
			letter-spacing: var(--display-spacing);
			line-height: var(--display-height);
			will-change: transform, opacity;
			opacity: 0;

			@media screen and (max-width: 768px) {
				font-size: 13vw;
			}

			&.-loaded {
				animation: taglineSlideUp 1s var(--ease) forwards;

				@keyframes taglineSlideUp {
					from {
						transform: translate3d(0, 100%, 0);
						opacity: 0;
					}

					to {
						transform: translate3d(0, 0, 0);
						opacity: 1;
					}
				}
			}
		}
	}
}